

  body {
      margin: auto;
      text-align: center;
      width: 70%;
  }

  article .row {
    display: flex;
    
  }
  
 p #youGuessedsoFar #answer .column {
    flex: 50%;
   
  }
  #youGuessedsoFar #answer {
      margin-left: 3px;
      
  }